doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title J.Naasz Portfolio

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Jamie's Web-Folio
                button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu 
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#portfolio') Portfolio
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#about') About
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#contact') Contact

        // Masthead
        header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                img.masthead-avatar.mb-5(src='../assets/img/Jamie_4.png' alt='')
                // Masthead Heading
                h1.masthead-heading.text-uppercase.mb-0 Hi, <br> I'm Jamie
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Masthead Subheading
                p.masthead-subheading.font-weight-light.mb-0 Full-Stack Web Developer

        // Portfolio Section
        section#portfolio.page-section.portfolio
            .container
                // Portfolio Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Portfolio
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Portfolio Grid Items
                .row.justify-content-center
                    // Portfolio Item 1
                    .col-md-6.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal1')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='https://media.giphy.com/media/3o6ZtekN7LuGnulfAQ/giphy.gif', alt='' 
                            style='height: 15em; width: 22em; margin-left: 1.5em; border-radius: 10px; border: solid 1px #1abc9c;')
                    // Portfolio Item 2
                    .col-md-6.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal2')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/auth_image.jpeg', alt=''
                            style='height: 15em; width: 22em; margin-left: 1.5em; border-radius: 10px; border: solid 1px #1abc9c;')
                    // Portfolio Item 3
                    .col-md-6.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal3')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/csharp.jpeg', alt=''
                            style='height: 15em; width: 22em; border-radius: 10px; border: solid 1px #1abc9c; margin-left: 1.5em')
                    // Portfolio Item 4
                    .col-md-6.mb-5.mb-lg-0
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal4')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/movie_posters.jpeg', alt=''
                            style='height: 15em; width: 22em; margin-left: 1.5em; border-radius: 10px; border: solid 1px #1abc9c;')

        // About Section
        section#about.page-section.bg-primary.text-white.mb-0
            .container
                // About Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-white About
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // About Section Content
                .row
                    .col-lg-12.ml-auto
                        p.lead
                        | My name is Jamie Naasz. I live in Fargo, ND with my girlfriend Jenny, our daughter Arya, and our
                        | pup Max! I love coffee, animals, hiking, camping, and martial arts. I am currently attending a full
                        | -time (plus some!) full-stack coding bootcamp through Emerging Digital Academy. We have recently started
                        | our 3rd, and final, tier which will wrap up the first week of April. Tier 3 is all about real
                        | -world, client projects that will give most of us our first real world experience(s). 
                        | The amount of knowledge I have gained from this course along with the people involved is
                        | truly astounding! This will allow me to change career fields and dramatically change the trajectory of my 
                        | familie's lives! I am also working part-time at Scheels and hunting for a job in my new career field!

        // Contact Section
        section#contact.page-section
            .container
                // Contact Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Contact Me
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Contact Section Form
                .row
                    .col-lg-8.mx-auto
                        // To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
                        form#contactForm(name='sentMessage', novalidate='novalidate')
                            .control-group
                                .form-group.floating-label-form-group.controls.mb-0.pb-2
                                    label Name
                                    input#name.form-control(type='text', placeholder='Name', required='required', data-validation-required-message='Please enter your name.')
                                    p.help-block.text-danger
                            .control-group
                                .form-group.floating-label-form-group.controls.mb-0.pb-2
                                    label Email Address
                                    input#email.form-control(type='email', placeholder='Email Address', required='required', data-validation-required-message='Please enter your email address.')
                                    p.help-block.text-danger
                            .control-group
                                .form-group.floating-label-form-group.controls.mb-0.pb-2
                                    label Phone Number
                                    input#phone.form-control(type='tel', placeholder='Phone Number', required='required', data-validation-required-message='Please enter your phone number.')
                                    p.help-block.text-danger
                            .control-group
                                .form-group.floating-label-form-group.controls.mb-0.pb-2
                                    label Message
                                    textarea#message.form-control(rows='5', placeholder='Message', required='required', data-validation-required-message='Please enter a message.')
                                    p.help-block.text-danger
                            br
                            #success
                            .form-group
                                button#sendMessageButton.btn.btn-primary.btn-xl(type='submit') Send

        // Footer
        footer.footer.text-center
            .container
                .row
                    // Footer Location
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Location
                        p.lead.mb-0
                            | Fargo, ND 58103
                    // Footer Social Icons
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Around the Web
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://www.facebook.com/jamie.naasz')
                            i.fab.fa-fw.fa-facebook-f
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://www.instagram.com/naasz_33/?hl=en')
                            i.fab.fa-fw.fa-instagram
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://www.linkedin.com/in/jamienaaszfargo/')
                            i.fab.fa-fw.fa-linkedin-in
                    // Footer About Text
                    .col-lg-4
                        h4.text-uppercase.mb-4 About the page
                        p.lead.mb-0
                            | This page was created using the 'Freelance' template.
                            | Freelance is a free to use, MIT licensed Bootstrap theme created by 
                            a(href='http://startbootstrap.com') Start Bootstrap
                            | .
        // Copyright Section
        div.copyright.py-4.text-center.text-white
            .container
                small Copyright © Jamie 2021
        // Scroll to Top Button (Only visible on small and extra-small screen sizes)
        .scroll-to-top.d-lg-none.position-fixed
            a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
                i.fa.fa-chevron-up

        // Portfolio Modals

        // Portfolio Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal1Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal1Label Mobile Bike Doc
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/soloProject.png', alt=''
                                    style='height: 15em; width: 22em; border-radius: 10px; border: solid 1px #1abc9c;')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                        | This assignment was our first solo project! This is a full CRUD (Create, Read, Update, 
                                        | Delete) app with a PostgreSQL database. The user can create a login which will allow them
                                        | to add thier bike to the database and go through a check-in process which will create a work
                                        | order which can be accessed, altered, and completed by any registered user that is an 'admin'. 
                                        | All users default to 'customer' access, the access level can only be changed by 
                                        | directly accessing the database to manually change the access level. For more details, use the
                                        | link below to access the Git Hub repo or visit the Heroku app.
                                    p.lead
                                    a(href="https://nameless-tor-68673.herokuapp.com/#/home") Heroku App
                                    p.lead
                                    a(href="https://github.com/naaszja/jamie_solo_project") Git Hub Repo
                                    p.leadv
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 2
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal2Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal2Label Authorization Shelf
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/auth_shelf.png', alt=''
                                    style='height: 15em; width: 22em; border-radius: 10px; border: solid 1px #1abc9c;')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                        | This assignment was meant to introduce us to authorization and authentication,
                                        | understand the differences and successfully implement both. Use the
                                        | links below to check out the app on Herkou or vist Git Hub for more information!
                                    p.lead
                                    a(href="https://whispering-lake-03402.herokuapp.com") Heroku App
                                    p.lead
                                    a(href="https://www.github.com/naaszja/auth-shelf") Git Hub Repo
                                    p.lead
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 3
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal3Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal3Label Pet Hotel
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/pet_hotel.png', alt=''
                                    style='height: 15em; width: 25em; border-radius: 10px; border: solid 1px #1abc9c;')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                        | This assignment closely resembled the Authorization Shelf assignment in function (minus the
                                        | login). However, this assignment used C# and .NET instead of the usual JavaScript and Node.js
                                        | that the other projects in this portfolio used. This program allows the user to create 'pet
                                        | owners' and 'pets'. The program will keep a log of owners, pets, how many pets each pet
                                        | owner has, and whether or not the pet is currently checked into the hotel. If the pet is
                                        | checked in to the hotel, a log of when the pet was checked in will be displayed. 
                                    p.lead
                                    a(href="https://github.com/naaszja/dotnet-pet-hotel-assignment") Git Hub Repo
                                    p.lead
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 4
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal4Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal4Label Movie Sagas
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/movie_sagas.png', alt='')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                    | This assignment was one of my favorites. I love going to the movies! The posters, the 
                                    | atmosphere, the snacks! This assignment is a gallery of movie posters which was meant
                                    | to remind the user of visiting the theater. The user will be brought to a 'landing' page 
                                    | that has a gallery of movie posters and their names. Each poster can be clicked on to 
                                    | display the description and enlarged photo of the movie poster. Users can add movies
                                    | to gallery. To add a movie a user will need the movie title, a description of the movie, 
                                    | and a short url to the movie's poster. I hope this brings to you the feelings it brings 
                                    | to me!
                                    p.lead
                                    a(href="https://github.com/naaszja/movie-sagas") Git Hub Repo
                                    p.lead
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Contact form JS
        script(src='assets/mail/jqBootstrapValidation.js')
        script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')
